svg.touch-swipe-nav-icon-h030a6agks {
  color-scheme: light dark;
  --primary-color: SelectedItemText;
  --accent-color: SelectedItem;

  @media not (prefers-contrast) {
    --primary-color: light-dark(#0060df, #00ddff);
    --accent-color: light-dark(#ffffff, #000000);
  }

  position: fixed;
  z-index: 2147483647;
  display: none;

  > path {
    transition: fill 1s;
    fill: var(--primary-color);
  }

  > circle {
    fill: var(--accent-color);
    stroke: var(--primary-color);
    transition: fill 1s;

    &:first-of-type {
      fill: var(--primary-color);
      transition: opacity 1s;
      will-change: opacity;
      opacity: 0;
    }
  }

  &.will-navigate {
    > circle {
      &:not(:first-of-type) {
        fill: var(--primary-color);
      }

      &:first-of-type {
        transition-delay: 0.2s;
        opacity: 0.2;
      }
    }

    > path {
      fill: var(--accent-color);
      stroke: var(--accent-color);
    }
  }
}

svg#touch-swipe-arrow-icon-h030a6agks {
  top: calc(50% - 33px);
}

svg#touch-swipe-refresh-icon-h030a6agks {
  left: calc(50% - 33px);

  > path {
    transform: translate(24px, 24px) scale(0.7);
  }
}
